In [9]:
name = "Kunal Ranjan"

In [10]:
age = 21

In [11]:
print("My name is {} and my age is {}".format(name, age))

My name is Kunal Ranjan and my age is 21

In [12]:
{1,2,3}

{1, 2, 3}

In [13]:
{1,1,1,2,2,2,3,3,2}

{1, 2, 3}

In [14]:
#thus it acts as set

In [15]:
set([1,2,3,1,1,1,1,2,2,3,3])

{1, 2, 3}

In [16]:
import math

In [17]:
math.sqrt(64)

8.0

In [1]:
def times2(var):
    return var*2

In [2]:
lambda var: var*2

In [4]:
seq = [1,2,3,4,5]

In [5]:
map(times2,seq)

In [6]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [7]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [8]:
filter(lambda item: item%2 == 0,seq)

In [9]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

In [10]:
st = "hello my name is Kunal Ranjan"

In [11]:
st.split()

['hello', 'my', 'name', 'is', 'Kunal', 'Ranjan']

In [12]:
6 in seq

False

In [13]:
4 in seq

True

In [14]:
s = "my name is = Kunal Ranjan"

In [16]:
s.split()

['my', 'name', 'is', '=', 'Kunal', 'Ranjan']

In [18]:
s.split("=")

['my name is ', ' Kunal Ranjan']

In [20]:
s.split('=')[1]

' Kunal Ranjan'

In [22]:
s.split('=')[0]

'my name is '

In [23]:
s.split('=')[-1]

' Kunal Ranjan'